body {
    max-width: 1400px;
    margin: 0 auto;
}

.btn {
    width: 120px;
    height: 40px;
    background-color: rgb(188, 247, 241);
    border: none;
    display: inline-flex;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    margin-top: 20px;
}

.btn-icon {
    height: 16px;
    width: 16px;
    margin-left: 10px;
    background-size: cover;
}

.btn-icon-active {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-arrow-down-left-circle-fill' viewBox='0 0 16 16'%3e%3cpath d='M16 8A8 8 0 1 0 0 8a8 8 0 0 0 16 0zm-5.904-2.803a.5.5 0 1 1 .707.707L6.707 10h2.768a.5.5 0 0 1 0 1H5.5a.5.5 0 0 1-.5-.5V6.525a.5.5 0 0 1 1 0v2.768l4.096-4.096z'/%3e%3c/svg%3e");
}

.btn-icon-inactive {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-arrow-down-left-circle' viewBox='0 0 16 16'%3e%3cpath fill-rule='evenodd' d='M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-5.904-2.854a.5.5 0 1 1 .707.708L6.707 9.95h2.768a.5.5 0 1 1 0 1H5.5a.5.5 0 0 1-.5-.5V6.475a.5.5 0 1 1 1 0v2.768l4.096-4.097z'/%3e%3c/svg%3e");
}